<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.gaojie.dao.ClassDAO">

<!--  一对多  -->
<!--
    &lt;!&ndash;连接查询&ndash;&gt;
    <resultMap id="classMap1" type="Clazz">
        <id column="cid" property="classId"/>
        <result column="cname" property="className"/>
        <result column="cdesc" property="classDesc"/>
        &lt;!&ndash;Clazz中的stus是一个List集合，需要用collection标签&ndash;&gt;
        &lt;!&ndash;collection标签的ofType属性声明集合中元素的类型&ndash;&gt;
        <collection property="stus" ofType="Student">
            <result column="sid" property="stuId"/>
            <result column="sname" property="stuName"/>
            <result column="sage" property="stuAge"/>
            <result column="scid" property="stuCid"/>
        </collection>
    </resultMap>
    <select id="queryClass1" resultMap="classMap1">
        SELECT cid,
               cname,
               cdesc,
               sid,
               sname,
               sage,
               scid
        FROM classes c
                 INNER JOIN students s ON c.cid = s.scid
        WHERE c.cid = #{classId}
    </select>

    &lt;!&ndash;子查询&ndash;&gt;
    <resultMap id="classMap" type="Clazz">
        <id column="cid" property="classId"/>
        <result column="cname" property="className"/>
        <result column="cdesc" property="classDesc"/>
        <collection property="stus" select="cc.gaojie.dao.StudentDAO.queryStudentByCid" column="cid"/>
    </resultMap>
    <select id="queryClass" resultMap="classMap">
        SELECT cid, cname, cdesc
        FROM classes
        WHERE cid = #{classId}
    </select>
-->

<!--  多对一  -->
    <!--子查询-->
    <resultMap id="classMap" type="Clazz">
        <id column="cid" property="classId"/>
        <result column="cname" property="className"/>
        <result column="cdesc" property="classDesc"/>
    </resultMap>
    <select id="queryClass" resultMap="classMap">
        SELECT cid, cname, cdesc
        FROM classes
        WHERE cid = #{cid}
    </select>
</mapper>