<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Controller的组件扫描-->
    <context:component-scan base-package="cc.gaojie.controller"/>

    <!--&lt;!&ndash;Controller的组件扫描&ndash;&gt;
    <context:component-scan base-package="cc.gaojie">
        &lt;!&ndash;表示只扫描 cc.gaojie 包下的 Controller 注解&ndash;&gt;
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        &lt;!&ndash;表示不扫描 cc.gaojie 包下的 Controller 注解&ndash;&gt;
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>-->

    <!--配置内部资源解析器-->
    <bean id="viewResolve" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--跳转时自动拼接前缀和后缀： /jsp/+...+.jsp -->
        <property name="prefix" value="/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--配置处理器映射器-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <!--MVC的注解驱动-->
    <mvc:annotation-driven/>

    <!--让原始容器Tomcat寻找静态资源-->
    <mvc:default-servlet-handler/>

    <mvc:resources mapping="/js/**" location="/js/"/>
</beans>