<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

    <!--MVC注解驱动-->
    <mvc:annotation-driven/>

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"/>  <!--前缀-->
        <property name="suffix" value=".jsp"/>     <!--后缀-->
    </bean>

    <!--开放静态资源访问权限-->
    <mvc:default-servlet-handler/>    <!--交由默认容器tomcat-->

    <!--组件扫描，扫描 Controller-->
    <context:component-scan base-package="cc.gaojie.controller"/>

    <!--配置权限拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--配置哪些资源拦截-->
            <mvc:mapping path="/**/"/>
            <!--配置哪些资源排除拦截-->
            <mvc:exclude-mapping path="/user/login"/>
            <bean class="cc.gaojie.interceptor.PrivilegeInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>